<ion-view>
  <ion-content overflow-scroll="false">
    <!-- <h1>Fill Details</h1> -->
    <div class="card pageTitle">
       <div class="item item-text-wrap">
       	Add Pateient Details
        </div>
    </div>
    <div class="list WDTH_95p TOP_6PX">
	  <label class="item item-input">
	  	<span class="input-label">Name</span>
	    <input type="text" ng-model="vm.name">
	  </label>
	  <label class="item item-input">
	  	<span class="input-label">Age</span>
	    <input type="number" ng-model="vm.age">
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Gender
	    </div>
	    <select class="SLCT_WDTH" ng-model="vm.gender">
	      <option>Male</option>
	      <option>Female</option>
	    </select>
	  </label>
	  <label class="item item-input">
	  	<span class="input-label">Address</span>
	    <input type="text" ng-model="vm.address">
	  </label>
	  <label class="item item-input" ng-click="vm.showPopup()">
	  	<span class="input-label">Camp</span>
	  	<span ng-model="vm.camp">{{vm.camp}}</span>
	  </label>
	  <label class="item item-input">
	  	<span class="input-label">Patient Problem</span>
	    <input type="text" ng-model="vm.problem">
	  </label>
	</div>

	<button class="button button-positive WDTH_95p BTN_CLR" ng-click="vm.submit()">
	  Submit
	</button>
  </ion-content>
</ion-view>
