<ion-view>
 <div class="importExcel">
  	<img src="img/excel.png" class="MRG20" ng-click="vm.excelReport()">
	</div>
  <ion-content overflow-scroll="false">
   <div class="card pageTitle">
       <div class="item item-text-wrap">
       Camp Details
        </div>
    </div>
    <div class="FLT_RGT filterby_text">
	    <span ng-click="vm.showPopup()"><span class="filterText">Filter By Camp: </span>{{vm.filterOption}}</span>
	  </div>
    <ion-item ng-repeat="details in vm.patientDetails | orderBy:'Name'" class="CRD_CTR">
			<div class="row">
				<div class="col-40" >Name</div><div class="col-60">: {{details.Name}}</div>
			</div>
			<div class="row">
				<div class="col-40" >Age</div><div class="col-60">: {{details.Age}}</div>
			</div>
			<div class="row">
				<div class="col-40" >Gender</div><div class="col-60">: {{details.Gender}}</div>
			</div>
			<div class="row">
				<div class="col-40" >Address</div><div class="col-60">: {{details.Address}}</div>
			</div>
			<div class="row">
				<div class="col-40" >Camp</div><div class="col-60">: {{details.Camp}}</div>
			</div>
			<div class="row">
				<div class="col-40" >Patient Problem</div><div class="col-60">: {{details.PatientProblem}}</div>
			</div>
	</ion-item>
  </ion-content>
</ion-view>
