<ion-view>
  <ion-content overflow-scroll="false">
    <div class="card pageTitle">
       <div class="item item-text-wrap">Dashboard</div>
    </div>
    <div class="container">
	    <canvas id="line" class="chart chart-line" chart-data="data"
			chart-labels="labels" chart-series="series" chart-options="options"
			chart-dataset-override="datasetOverride" chart-click="onClick"
		</canvas> 
	</div>
  </ion-content>
</ion-view>
