<ion-radio ng-model="vm.filterOption" ng-value="'Sarjapur'" >Sarjapur</ion-radio>
<ion-radio ng-model="vm.filterOption" ng-value="'Silkboard'">Silkboard</ion-radio>
<ion-radio ng-model="vm.filterOption" ng-value="'E.City'">E.City</ion-radio>
<ion-radio ng-model="vm.filterOption" ng-value="'ITPL'">ITPL</ion-radio>
<ion-radio ng-model="vm.filterOption" ng-value="'KR Puram'">KR Puram</ion-radio>
<ion-radio ng-model="vm.filterOption" ng-value="'Majestic'">Majestic</ion-radio>