<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <img src="img/logo.png" class="logo"> 
      <ion-nav-buttons side="right"  >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right" style="right:4px;">
      </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/dashboard"><span><img src="img/dash.png" class="mnuIcn"></span>
          Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/addPatient"><span><img src="img/patient.png" class="mnuIcn"></span>
          Add Patient
        </ion-item>
        <ion-item menu-close href="#/app/campDetails"><span><img src="img/patient.png" class="mnuIcn"></span>
          Camp Details
        </ion-item>
        <ion-item menu-close href="#"><span><img src="img/logout.png" class="mnuIcn"></span>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<ion-footer-bar class="BTN_CLR">
  <div class="FTR_CTR">© Narayana Hrudayalaya Ltd | All Rights Reserved</div>
</ion-footer-bar>
