/* Empty. Add your own CSS if you like */
.logo{
	position: absolute;
	margin: 3px 12px;
	width: 35px;
	z-index: 999;
	display: block;
}
.scroll-content{
	background-color: #ccc;
}
.ion-navicon{
	color: #284695 !important;
}
.WDTH_95p{
	width: 95%;
	margin: 0 auto;
	display: block;
}
.BTN_CLR{
	background-color: #284695 !important;
}
.SLCT_WDTH{
	width: 100%;
	direction: ltr !important;
}
.TOP_6PX{
    top: 6px;
}
ion-item a.item-content{
	background-color: #284695 !important;
	color: #fff;
}
.FTR_CTR{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #fff;
}
.CRD_CTR{
	width: 95%;
	margin: 2px auto;
}
.FLT_RGT{
	float: right;
	    margin: 5px 14px;
}
.MRG20{
	margin: 20%;
}
.filterby_text{
	width: 100%;
	text-align: right;
	color: #284695;
}
 img.mnuIcn{
 	margin: -4px 2px;
 }   
 .pageTitle{
 	margin: 5px 10px 0px 10px !important;
    text-align: center;
    font-weight: 700;
 }
 .filterText{
 	color: #000;
    font-weight: bold;
    font-style: italic;
 }
.importExcel{
	top: 85%;
    right: 5%;
    position: fixed;
    z-index: inherit;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 4px #284695;
}
canvas{
	background: #fff;
	margin: 5px auto;
	width: 100% !important;

}
.container{
	background: #fff;
	margin: 5px auto;
	width: 95% !important;
}